/torch_net/data/
/torch_net/compact_resnet/data/
/torch_net/full_resnet/data/
/torch_net/.env
/data/
/tf_net/.env
/tf_net/*log_slurm*
/tf_net/__pycache__
./torch_net/saved_models/
/torch_net/__pycache__/
/torch_net/compact_resnet/__pycache__/
/torch_net/full_resnet/__pycache__/
/torch_net/full_resnet/saved_models/
/torch_net/compact_resnet/saved_models/
./**/*.log
./**/*.err
./**/*.out
./**/data/

